.admin-table {
  border-collapse: collapse;
  margin: 20px 0;
  width: 100%;
}

.admin-table thead {
  background-color: #f2f2f2;
}

.admin-table th {
  padding: 10px;
  text-align: left;
  border-bottom: 2px solid #ddd;
  font-weight: bold;
  color: #333;
}

.admin-table tbody tr {
  transition: all 0.25s ease-in-out;
}

.admin-table tbody tr:hover {
  background-color: #f5f5f5;
}

.admin-table td {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #ddd;
  color: #666;
}

.admin-red-button {
  margin: 2px;
  background-color: hwb(0 29% 27%);
  color: #ffffff;
  border-width: 0px;
  border-radius: 3px;
}

.admin-red-button:hover {
  background-color: rgb(219, 155, 149);
}
