.comment-wrapper {
  display: flex;
  align-items: center;
  padding: 10px;
  border-radius: 5px;
}

.comment-checkbox {
  margin-right: 10px;
}
.comment-label {
  margin-right: 20px;
  font-weight: bold;
}

.comment-input-wrapper {
  display: flex;
  align-items: center;
  flex-grow: 1;
}

.comment-input {
  flex-grow: 1;
  padding: 5px;
  border: 1px solid #ced4da;
  border-radius: 5px;
  font-size: 14px;
}

.icon:hover {
  color: #5e50c7;
}

.comment-time {
  font-size: 10px;
  color: grey;
}

.no-comment {
  font-size: 15px;
  color: rgb(203, 196, 196);
}

.comment-box {
  font-size: 14px;
  /* margin: 2px; */
}

.secret-comment-list-container {
  display: flex;
  flex-direction: column;
}

.secret-comment-list-container > :last-child {
  margin-bottom: 0px;
}
