.button {
  background-color: hwb(227 41% 7%);
  border-width: 0px;
  border-radius: 3px;
  /* margin-left: 90%; */
}

.button:hover {
  color: #ffffff;
}

.back {
  padding: 10px;
}

.post-time {
  font-size: 13px;
}
