.comment-input {
  padding: 10px;
  margin: 2px;
  flex: 1;
  font-size: 14px;
  border: none;
  outline: none;
  border: 1px solid black;
  border-radius: 3px;
  width: 100%;
  height: 35px;
}
.comment-button {
  margin: 2px;
  background-color: hsl(227, 49%, 31%);
  color: #ffffff;
  border-width: 0px;
  border-radius: 3px;
}

.comment-button:hover {
  background-color: hwb(227 65% 17%);
}

.comment-box {
  padding: 3px;
}

.comment-time {
  font-size: 10px;
  color: grey;
}

.no-comment {
  font-size: 15px;
  color: grey;
}
