.comment-input {
  margin: 2px;
  flex: 1;
  font-size: 14px;
  border: none;
  outline: none;
  border: 1px solid rgb(141, 141, 141);
  border-radius: 3px;
  width: 800%;
  height: 35px;
}
.comment-icon {
  margin-left: 98%;
}

.comment-icon:hover {
  color: #5e50c7;
}

.icon:hover {
  color: #5e50c7;
}
.comment-box {
  padding: 3px;
}

.comment-time {
  font-size: 10px;
  color: grey;
}

.no-comment {
  font-size: 15px;
  color: grey;
}
