.comment-checkbox {
  margin-right: 5px;
}

.comment-label {
  margin-right: 10px;
}

.comment-input-wrapper {
  display: flex;
}

.comment-input {
  margin-right: 5px;
}

.icon:hover {
  color: #5e50c7;
}

.comment-time {
  font-size: 10px;
  color: grey;
}

.no-comment {
  font-size: 15px;
  color: grey;
}

.comment-box {
  font-size: 14px;
  /* margin: 2px; */
}
