.card-body {
  border-radius: 3px;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
  padding: 3px;
  margin: 5px auto;
}

.write-button {
  margin: 2px;
  background-color: hsl(227, 49%, 31%);
  color: #ffffff;
  border-width: 0px;
  border-radius: 3px;
}

.write-button:hover {
  background-color: hwb(227 65% 17%);
}

.black {
  color: black;
}
.pagination {
  display: flex;
  justify-content: center;
}

.pagination-container {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
