.button {
  margin: 2px;
  background-color: hsl(227, 49%, 31%);
  color: #ffffff;
  border-width: 0px;
  border-radius: 3px;
}

.button:hover {
  background-color: hwb(227 65% 17%);
}

.back {
  padding: 10px;
}

.post-time {
  font-size: 13px;
}
