.card-body {
  border-radius: 3px;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
  padding: 5px;
  margin: 5px auto;
}

.write-button {
  background-color: hsl(227, 49%, 31%);
  border-width: 0px;
  border-radius: 3px;
}

.write-button:hover {
  color: #ffffff;
}
