h1 {
  margin-bottom: 1rem;
}

.time-table {
  border-collapse: collapse;
  width: 100%;
  max-width: 800px;
}

.time-table th,
.time-table td {
  border: 1px solid #ccc;
  text-align: center;
  padding: 0.5rem;
}

.time-table th {
  background-color: #f2f2f2;
  font-weight: bold;
}

.time-table td {
  background-color: #fff;
}

.table-button {
  margin: 2px;
  background-color: hsl(227, 49%, 31%);
  color: #ffffff;
  border-width: 0px;
  border-radius: 3px;
  margin-left: 70%;
}

.table-button:hover {
  background-color: hwb(227 65% 17%);
}

.table-all {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
