.lec-button {
  background-color: hsl(227, 49%, 31%);
  border-width: 0px;
  border-radius: 5px;
  margin-right: 3px;
}

.lec-button:hover {
  color: #ffffff;
}

.lec-back {
  padding: 10px;
}

.important {
  color: #f06767;
}
