.lec-button {
  margin: 2px;
  background-color: hsl(227, 49%, 31%);
  color: #ffffff;
  border-width: 0px;
  border-radius: 3px;
}

.lec-button:hover {
  background-color: hwb(227 65% 17%);
}

.lec-back {
  padding: 10px;
}

.important {
  color: #f06767;
}
