.button {
  margin: 2px;
  background-color: hsl(227, 49%, 31%);
  color: #ffffff;
  border-width: 0px;
  border-radius: 3px;
}

.button:hover {
  background-color: hwb(227 65% 17%);
}

.back {
  padding: 10px;
}

.post-time {
  font-size: 13px;
}

.comment {
  padding: 3px;
}

.black {
  color: black;
}

.heart-icon-container {
  display: flex;
  justify-content: flex-end;
}

.big-grey {
  color: hsl(0, 0%, 42%);
}

.d-flex {
  display: flex;
}

.align-items-center {
  align-items: center;
}

.ms-auto {
  margin-left: auto;
}

.dan-button {
  margin: 2px;
  background-color: hwb(6 25% 25%);
  color: #ffffff;
  border-width: 0px;
  border-radius: 3px;
}

.dan-button:hover {
  background-color: rgb(239, 199, 193);
}
