.card {
  border-style: initial;
  border: none;
  border-color: rgb(255, 255, 255);
  box-shadow: none;

  padding: 3px;
  margin: 2rem auto;
  width: 55%;
  max-width: 95%;
  flex-direction: column;
}
