.color-nav {
  background-color: hwb(240 18% 61%);
}

.image {
  height: 80px;
  width: 100px;
}

.white {
  color: rgb(205, 205, 205);
}
.nav-link:hover,
.dropdown-item:hover {
  color: hwb(197 62% 14%);
  transition: all 0.3s;
}

.nav-link {
  padding-top: 15px;
  padding-bottom: 15px;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media (max-width: 767px) {
  .nav-link {
    font-size: 14px;
  }

  .nav-item {
    padding-left: 5px;
    padding-right: 5px;
  }
}
