.message-input {
  padding: 10px;
  margin: 4px;
  font-size: 16px;
  outline: none;
  border: 1px solid;
  border-radius: 3px;
  width: 100%;
}

.message-button {
  color: navy;
  border-width: 0px;
  border-radius: 3px;
  margin-left: 97%;
}

.message-button:hover {
  color: hsl(258, 51%, 78%);
}

.message-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
}

.page-title {
  font-size: 2rem;
  margin-bottom: 1.5rem;
}

.message-form {
  display: flex;
  flex-direction: column;
}

.message-textarea {
  resize: none;
  margin-bottom: 1rem;
}

.mini-card {
  border-radius: 12px;
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.25);
  padding: 6px;
}
