.message-input {
  padding: 10px;
  margin: 4px;
  font-size: 16px;
  outline: none;
  border: 1px solid hsl(0, 0%, 35%);
  border-radius: 3px;
  width: 100%;
}

.message-button {
  background-color: hsl(227, 49%, 31%);
  border-width: 0px;
  border-radius: 3px;
  margin-left: 95%;
}

.message-button:hover {
  color: #ffffff;
}

.message-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
}

.page-title {
  font-size: 2rem;
  margin-bottom: 1.5rem;
}

.message-form {
  display: flex;
  flex-direction: column;
}

.message-textarea {
  resize: none;
  margin-bottom: 1rem;
}
