.messageContainer {
  display: flex;
}

.receivedMessage {
  align-items: flex-start;
}

.sentMessage {
  align-items: flex-end;
}

.message-left {
  max-width: 55%;
  overflow-wrap: break-word;
  background-color: hsl(240, 100%, 98%);
  border-radius: 6px;
  padding: 2px;
  font-size: 14px;
  width: auto;
}

.message-right {
  max-width: 55%;
  overflow-wrap: break-word;
  background-color: rgb(240, 240, 240);
  border-radius: 6px;
  padding: 5px;
  font-size: 14px;
  width: auto;
}

.message-right-box {
  display: flex;
  justify-content: flex-end;
  padding: 5px;
}

.message-left-box {
  display: flex;
}

.list-box {
  width: 100%;
  overflow: hidden;
}

.message-icon {
  color: #251f7f;
}

.message-icon:hover {
  color: #a7b2f1;
}
