.messageContainer {
  display: flex;
}

.receivedMessage {
  align-items: flex-start;
}

.sentMessage {
  align-items: flex-end;
}

.message-left {
  max-width: 55%;
  overflow-wrap: break-word;
  background-color: hwb(0 93% 7%);
  border-radius: 6px;
  padding: 2px;
  width: auto;
}

.message-right {
  max-width: 55%;
  overflow-wrap: break-word;
  background-color: #eef2ff;
  border-radius: 6px;
  padding: 2px;
  width: auto;
}

.message-right-box {
  display: flex;
  justify-content: flex-end;
}

.message-left-box {
  display: flex;
}

.list-box {
  width: 100%;
  overflow: hidden;
}
