#file-input {
  display: none;
}

#file-input + label {
  cursor: pointer;
  background-color: hwb(227 63% 6%);
  color: white;
  border-width: 0px;
  border-radius: 3px;
  color: #333;
  padding: 0px 5px;
}

#file-input + label:hover {
  border-color: #888;
  background-color: hsl(227, 49%, 31%);
  color: white;
}

#file-input:focus + label {
  border-color: #007bff;
}

#file-input:checked + label {
  background-color: #007bff;
  color: #fff;
}
